@model SibiServer.Models.RequestApproval
@using SibiServer
@{
    Layout = "_NavbarNew";
    ViewData["Title"] = "Approval";
    // ViewData["ApprovalObject"] = Model;

}

@*<h2>Index</h2>

    <p>Hello from our View Template!</p>*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sibi Approvals - @Model.SibiRequest.Description</title>
    @*<meta name="description" content="Creative Button Styles  - Modern and subtle styles &amp; effects for buttons" />
        <meta name="keywords" content="button styles, css3, modern, flat button, subtle, effects, hover, web design" />
        <meta name="author" content="Codrops" />*@
    @*<link rel="shortcut icon" href="../favicon.ico">*@
    @*<link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
    @*<link rel="stylesheet" type="text/css" href="~/css/default.css" />
        <link rel="stylesheet" type="text/css" href="~/css/component.css" />*@
    @*<link rel="stylesheet" type="text/css" href="~/css/cssreset.css" />*@
    @*<script src="js/modernizr.custom.js"></script>*@
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/Microsoft.jQuery.Unobtrusive.Ajax/jquery.unobtrusive-ajax.min.js"></script>

</head>
<body>




    <div class="container">




        <div id="alertSuccess" class="alert alert-success alert-dismissible collapse" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Success!</strong> The approval has been updated.
        </div>


        <div id="alertError" class="alert alert-danger alert-dismissible collapse" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>ERROR!</strong> Something went wrong...
        </div>





        <form asp-controller="Sibi" asp-action="Approval"
              data-ajax-begin="onBegin" data-ajax-complete="onComplete"
              data-ajax-failure="onFailed" data-ajax-success="onSuccess"
              data-ajax="true" method="POST">

            <div class="list-group">

                <a class="list-group-item">
                    <div id="approvalTable">
                        @Html.Partial("RequestPartial", Model)
                    </div>
                </a>


                <a class="list-group-item">
                    <table class="table table-condensed table-bordered">
                        <h3>Sibi Request Info</h3>
                        <thead style="background-color:#b9cdff">
                            <tr>
                                <th>Description</th>
                                <th>Type</th>
                                <th>Status</th>
                                <th>Need By</th>
                                <th>PO</th>
                                <th>Requisition #</th>
                                <th>RT #</th>
                            </tr>
                        </thead>
                        <tbody style="color:black">
                            <tr style="background-color:lightgray">
                                <td>@Model.SibiRequest.Description</td>
                                <td>@Attributes.GetSibiAttribute(Model.SibiRequest.RequestType)</td>
                                <td>@Attributes.GetSibiAttribute(Model.SibiRequest.Status)</td>
                                <td>@Model.SibiRequest.NeedByDate</td>
                                <td>@Model.SibiRequest.PO</td>
                                <td>@Model.SibiRequest.RequisitionNumber</td>
                                <td>@Model.SibiRequest.RTNumber</td>
                            </tr>

                        </tbody>
                    </table>

                </a>
                <a class="list-group-item list-group-item-success">

                    <table class="table table-condensed table-bordered">
                        <h3>New Values</h3>
                        <thead style="background-color:#aaffb6">
                            <tr>
                                @*<th><label style="color:black">ID</label></th>*@
                                @*<th><label style="color:black">Change Type</label></th>*@
                                @*<th><label style="color:black">Note</label></th>*@
                                <th>Change Type</th>
                                <th>Description</th>
                                <th>User</th>
                                <th>Quantity</th>
                                <th>Location</th>
                                <th>Replace Asset</th>
                                <th>Replace Serial</th>
                                <th>Org Code</th>
                                <th>Object Code</th>
                            </tr>
                        </thead>
                        <tbody style="color:black">
                            @foreach (var item in Model.ApprovalItems)
                            {
                                <tr style="background-color:lightgray">
                                    <td>@Attributes.GetSibiAttribute(item.NewItemValues.ChangeType)</td>
                                    <td>@item.NewItemValues.Description</td>
                                    <td>@item.NewItemValues.User</td>
                                    <td>@item.NewItemValues.Qty</td>
                                    <td>@Attributes.GetSibiAttribute(item.NewItemValues.Location)</td>
                                    <td>@item.NewItemValues.ReplaceAsset</td>
                                    <td>@item.NewItemValues.ReplaceSerial</td>
                                    <td>@item.NewItemValues.OrgCode</td>
                                    <td>@item.NewItemValues.ObjCode</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </a>
                <a class="list-group-item list-group-item-danger">
                    <table class="table table-condensed table-bordered">
                        <h3>Old Values</h3>
                        <thead style="background-color:#ff7a7a">
                            <tr>
                                @*<th><label style="color:black">ID</label></th>*@
                                @*<th><label style="color:black">Change Type</label></th>*@
                                @*<th><label style="color:black">Note</label></th>*@
                                <th>Change Type</th>
                                <th>Description</th>
                                <th>User</th>
                                <th>Quantity</th>
                                <th>Location</th>
                                <th>Replace Asset</th>
                                <th>Replace Serial</th>
                                <th>Org Code</th>
                                <th>Object Code</th>
                            </tr>
                        </thead>
                        <tbody style="color:black">
                            @foreach (var item in Model.ApprovalItems)
                            {
                                <tr style="background-color:lightgray">
                                    <td>@Attributes.GetSibiAttribute(item.OldItemValues.ChangeType)</td>
                                    <td>@item.OldItemValues.Description</td>
                                    <td>@item.OldItemValues.User</td>
                                    <td>@item.OldItemValues.Qty</td>
                                    <td>@Attributes.GetSibiAttribute(item.OldItemValues.Location)</td>
                                    <td>@item.OldItemValues.ReplaceAsset</td>
                                    <td>@item.OldItemValues.ReplaceSerial</td>
                                    <td>@item.OldItemValues.OrgCode</td>
                                    <td>@item.OldItemValues.ObjCode</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </a>

                @Html.HiddenFor(m => m.GUID)
                @Html.HiddenFor(m => m.PostSuccess)
            </div>



            <fieldset id="response_controls">

                <div class="form-group">
                    <label>Note:</label>
                    @Html.TextAreaFor(m => m.Note, new { @class = "form-control", @rows = "5" })
                    @*@Html.HiddenFor(m => m.Note)*@
                </div>

                <div class="btn-group-lg">

                    <button id="btnAjaxAccept" class="btn btn-primary btn-lg" style="background-color:#b2ffb4;color:#565656" type="button">Accept</button>

                    <button id="btnAjaxReject" class="btn btn-primary btn-lg" style="background-color:#ffb2b2;color:#565656" type="button">Reject</button>
                </div>
            </fieldset>


        </form>



    </div><!-- /container -->


    <script type="text/javascript">



        function postToController(data, dataType, url) {
            url = url || '/Sibi/Submit';
            console.log('Submitting form...');
            $.ajax({
                type: 'POST',
                url: url,
                dataType: 'json',
                contentType: dataType,
                data: data,
                success: function (result) {
                    console.log('Data received: ');
                    console.log(result);
                    console.log("Post= " + result["postSuccess"]);
                    document.getElementById('response_controls').disabled = true;
                    displayAlert(result["postSuccess"]);
                    updateApprovalStatus(result["guid"]);

                },
                failure: function (errMsg) {
                    alert(errMsg);
                }
            });

        }

        function updateApprovalStatus(approvalGuid) {
             $.ajax({
                url: '@Url.Action("GetApprovalData", "Sibi")',
                data: { approvalId: approvalGuid },
                dataType: 'html',
                type: 'GET',
                cache: false,
                success: function (data) {
                    $('#approvalTable').html(data);
                },
                error: function (data) {
                    alert('Error occurred');
                }
             });

        }

        function displayAlert(success) {
            if (success) {
                $('#alertSuccess').show();
             }
            else {
                $('#alertError').show();
             }

        }

        function getFormDataAsJson() {

             @*console.log(@Html.ValueFor(m => m.Note));
             var jsonModel = @Html.Raw(Json.Serialize(Model));
             jsonModel["approvalItems"] = null;
             return jsonModel;*@

             return {
                 '@Html.IdFor(x => x.GUID)': $('#@Html.IdFor(x=>x.GUID)').val(),
                 '@Html.IdFor(x => x.Note)': $('#@Html.IdFor(x=>x.Note)').val()
             }
        }


         $('#btnAjaxAccept').click(function () {


            var data = getFormDataAsJson();

            console.log(data);
            postToController(JSON.stringify(data), "application/json; charset=utf-8", '/Sibi/Approve');

            return false;
        });

         $('#btnAjaxReject').click(function () {


             var data = getFormDataAsJson();
             console.log(data);

             //postToController(JSON.stringify(data), "application/json; charset=utf-8", '/Sibi/Reject');
             postToController(JSON.stringify(data), "application/json; charset=utf-8", '/Sibi/Reject');
             return false;
         });





        //var results = $("#Results");
        //var onBegin = function () {
        //    console.log("onBegin");
        //    results.html("<img src=\"~/images/sibi_logo.png\" alt=\"Something...\"/>");
        //}

        //var onComplete = function () {
        //    console.log("onComplete");
        //    results.html("");
        //};

        //var onSuccess = function (context) {
        //    console.log("onSuccess");
        //    alert(context);
        //};

        //var onFailed = function (context) {
        //    console.log("onFailed");
        //    alert("Failed");
        //};


    </script>


    <script> console.log('@ViewData["state"].ToString()');</script>

    @if (Model.ApprovalStatus != ApprovalStatus.pending.ToString())
    {
        <script>document.getElementById('response_controls').disabled = true;</script>



    }
    else
    {
        <script>document.getElementById('response_controls').disabled = false;</script>

    }

</body>
</html>

